# API-Key von https://developer.brawlstars.com (für IP 45.79.218.79 = RoyaleAPI-Proxy)
BS_API_KEY=
CLUB_TAG=#2VRLRP9PU
USE_ROYALEAPI_PROXY=true
# YouTube-Kanal für „Troopers TV“ (Kanal-ID beginnt mit UC…)
YT_CHANNEL_ID=UCb0TxLVVkeo37lrNc8sl3kA
